/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: blue;
    --light-color: grey;
    --dark-color: rgb(28, 26, 49);
}

img{
    max-width: 100%;
}
/* #endregion common */

/* #region debug */
.debug *{
    border: 1px dotted;
}

.debug header{
    background: green;
}

.debug main .container{
    height: 300px;
}

.debug header section{
    background: rgb(42, 10, 78);
    padding: 20px 10px;
}

.debug nav .container{
    background: lightgreen;
}

.debug .container-sm .row{
    background-color: rgb(204, 125, 138);
    height: 300px;
}

.debug footer .logo, .debug .btn{
    background-color: turquoise;
}

.debug footer .row{
    background-color: darkgoldenrod;
}

.debug main section{
    background-color: grey;
}

.debug main section:nth-child(2n+1){
    background-color: white;
}
.debug main section:nth-child(2n){
    background-color: darkgray;
}

.debug .col-big{
    background-color: lightblue;
}

.debug .col-small{
    background: lightpink;
}

.debug .w-100{
    background-color: green;
}

.debug footer section{
    background: grey;
}

.debug .w-40{
    background-color: violet;
}

.debug .w-15{
    background-color: aqua;
}

.debug [class^="col-"]{
    background-color: aquamarine;
    height:100%;
}


/* #endregion debug */

/* #region utilities */
.row{
    display: flex;
}

.container{
    margin: auto;
    width: 80%;
}
.container-sm{
    margin: auto;
    width: 70%;
}
/* #region width */
.w-20{
    width: 20%;
}
.w-60{
    width: 60%;
}
.w-100{
    width: 100%;
}
.w-40{
    width: 40%;
}
.w-15{
    width: 15%;
}
/* #endregion width */

/* #region padding */
.py-4{
    padding: 2rem 0;
}
.py-1{
    padding: 1rem 0;
}

.p_8-5{
    padding: 8px 5px;
}

.p_20-0{
    padding: 20px 0;
}

.p_10-0-20{
    padding: 10px 0 20px;
}

.p_20-00{
    padding: 20px 0 0;
}

.p_2-10{
    padding: 2px 10px;
}
/* #endregion padding */

.col-4{
    width: calc(( 100% / 12 ) * 4);
}

.col-2{
    width: calc(( 100% / 12 ) * 2);
}

.h-100{
    height: 100%;
}
/* #endregion common */

/* #region header */
header{
    .login, .logo{
        flex-grow: 1;
    }
    .links{
        flex-grow: 2;
        text-align: center;
    }
    .login{
        text-align: right;
    }
    .logo{
        text-align: left;
    }
}
/* #endregion header */

/* #region main */
.bg-primary{
    background-color: black;
}

.bg-light{
    background: grey;
}
/* #endregion main */

/* #region footer */
footer{
    .row{
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    background-color: var(--dark-color);
}
/* #endregion footer */