*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    border: 1px dotted;
}

.debug header{
    background: green;
}

.purple{
    background: rgb(42, 10, 78);
    padding: 20px 100px;
}
.lg{
    background: lightgreen;
}
.pink{
    background-color: pink;
    height: 300px;
}

/* #region common */

.d-flex{
    display: flex;
}

.container{
    margin: auto;
    width: 60%;
}

.mtb-10{
 margin-top: 10px;
 margin-bottom: 10px;
}
.w-20{
    width: 20%;
}
.w-60{
    width: 60%;
}
.p-10{
    padding: 8px 5px;
}
/* #endregion common */

/* #region header */
.login{
    text-align: right;
}

.links{
    display: flex;
    justify-content: center;
}


.setup{
    height: 300px;
}

/* #endregion header */