*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    border: 2px dotted;
}

.debug header{
    background: green;
}

.purple{
    background: rgb(42, 10, 78);
    padding: 20px 100px;
}
.lg{
    background: lightgreen;
}
.pink{
    background-color: pink;
    height: 300px;
}

/* #region common */

.row{
    display: flex;
}

.container{
    margin: auto;
    width: 60%;
}


main .grey .container{
    height: 300px;
}

.mtb-10{
 margin-top: 10px;
 margin-bottom: 10px;
}
.w-20{
    width: 20%;
}
.w-60{
    width: 60%;
}
.p-10{
    padding: 8px 5px;
}
/* #endregion common */

/* #region header */
.login{
    text-align: right;
}

.links{
    display: flex;
    justify-content: center;
}


.setup{
    height: 300px;
}

/* #endregion header */

/* MAIN */
.grey{
    /* background-color: grey; */
    padding: 20px 0;
}

.grey:nth-child(2n+1){
    background-color: white;
}
.grey:nth-child(2n){
    background-color: darkgray;
}

.lb{
    background-color: lightblue;
}

.lp{
    background: lightpink;
}
.dg{
    background: grey;
}

.col-small{
    width: 40%;
    height: 100%;
}

.col-big{
    width: 60%;
    height: 100%;
}
.square{
    width: 100%;
    height: 100%;
}

.violet{
    background-color: violet;
    width: 40%;
}
.aqua{
    background-color: aqua;
    width: 15%;
}
.aqua,.violet{
    height: 400px;
    /* width: 100px; */
}

.p_10-0-20{
    padding: 10px 0 20px;
}

/* FOOTER */
.footer{
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.p_20-00{
    padding: 20px 0 0;
}

.color{
    background-color: cadetblue;
    padding: 2px 10px;
}